/* 欢迎信息 */
#welcome-info {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.75), #3eb8be66);
    border-radius: 18px;
    padding: 8px;
}
[data-theme="dark"] #welcome-info {
    background: rgba(0, 0, 0, 0.4);
}