//- 访客全球卫星卡片
.card-widget.card-map
  .card-content
    .item-headline
      i.fa.fa-globe-asia(aria-hidden="true")
      span= _p('aside.card_map')
  a(href=url_for('https://clustrmaps.com/site/1bswc'))
    img(src=url_for('//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=n&d=Vxi_1EBe1jqrUNuCl7PqqKUxjt3YhV0leB3pHymiza8'))